<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocks</key>
	<array>
		<dict>
			<key>color</key>
			<string>1.0 0 0 1.0</string>
			<key>height</key>
			<integer>75</integer>
			<key>width</key>
			<integer>75</integer>
			<key>pushVectorX</key>
			<integer>0</integer>
			<key>pushVectorY</key>
			<integer>-15000</integer>
			<key>positionX</key>
			<real>0.5</real>
			<key>positionY</key>
			<real>1.03</real>
			<key>pushTime</key>
			<integer>0</integer>
		</dict>
        <dict>
            <key>color</key>
            <string>1.0 0 0 1.0</string>
            <key>height</key>
            <integer>75</integer>
            <key>width</key>
            <integer>75</integer>
            <key>pushVectorX</key>
            <integer>0</integer>
            <key>pushVectorY</key>
            <integer>-15000</integer>
            <key>positionX</key>
            <real>0.5</real>
            <key>positionY</key>
            <real>1.03</real>
            <key>pushTime</key>
            <real>1.5</real>
        </dict>
	</array>
	<key>timeout</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>1</integer>
	<key>name</key>
	<string>Level 1</string>
</dict>
</plist>
