<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>blocks</key>
        <array>
            <dict>
                <key>color</key>
                <string>0 0 1.0 1.0</string>
                <key>height</key>
                <integer>150</integer>
                <key>width</key>
                <integer>50</integer>
                <key>pushVectorX</key>
                <integer>0</integer>
                <key>pushVectorY</key>
                <integer>-1</integer>
                <key>positionX</key>
                <real>0.5</real>
                <key>positionY</key>
                <real>1.1</real>
                <key>pushTime</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>timeout</key>
        <integer>100</integer>
        <key>priority</key>
        <integer>4</integer>
        <key>name</key>
        <string>Level 4</string>
    </dict>
</plist>
