<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>blocks</key>
        <array>
            <dict>
                <key>color</key>
                <string>1.0 0 0 1.0</string>
                <key>height</key>
                <real>150</real>
                <key>width</key>
                <real>150</real>
                <key>pushVectorX</key>
                <real>0</real>
                <key>pushVectorY</key>
                <real>-1</real>
                <key>positionX</key>
                <real>0.5</real>
                <key>positionY</key>
                <real>1.1</real>
                <key>pushTime</key>
                <real>0</real>
                <key>rotation</key>
                <real>0</real>
            </dict>
            <dict>
                <key>color</key>
                <string>0 0 1.0 1.0</string>
                <key>height</key>
                <real>150</real>
                <key>width</key>
                <real>150</real>
                <key>pushVectorX</key>
                <real>0</real>
                <key>pushVectorY</key>
                <real>-1</real>
                <key>positionX</key>
                <real>0.5</real>
                <key>positionY</key>
                <real>1.35</real>
                <key>pushTime</key>
                <real>0</real>
                <key>rotation</key>
                <real>0</real>
            </dict>
            <dict>
                <key>color</key>
                <string>1.0 0 0 1.0</string>
                <key>height</key>
                <real>150</real>
                <key>width</key>
                <real>150</real>
                <key>pushVectorX</key>
                <real>0</real>
                <key>pushVectorY</key>
                <real>-1</real>
                <key>positionX</key>
                <real>0.5</real>
                <key>positionY</key>
                <real>1.6</real>
                <key>pushTime</key>
                <real>0</real>
                <key>rotation</key>
                <real>0</real>
            </dict>
            <dict>
                <key>color</key>
                <string>0 0 1.0 1.0</string>
                <key>height</key>
                <real>150</real>
                <key>width</key>
                <real>150</real>
                <key>pushVectorX</key>
                <real>0</real>
                <key>pushVectorY</key>
                <real>-1</real>
                <key>positionX</key>
                <real>0.5</real>
                <key>positionY</key>
                <real>1.85</real>
                <key>pushTime</key>
                <real>0</real>
                <key>rotation</key>
                <real>0</real>
            </dict>
        </array>
        <key>timeout</key>
        <real>10</real>
        <key>priority</key>
        <real>6</real>
        <key>name</key>
        <string>Level 6</string>
    </dict>
</plist>
