<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocks</key>
	<array>
		<dict>
			<key>color</key>
			<string>0 0 1.0 1.0</string>
			<key>height</key>
			<real>160</real>
			<key>width</key>
			<real>160</real>
			<key>pushVectorX</key>
			<real>-1</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>1.1</real>
			<key>positionY</key>
			<real>0.2</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
		<dict>
			<key>color</key>
			<string>1.0 0 0 1.0</string>
			<key>height</key>
			<real>160</real>
			<key>width</key>
			<real>160</real>
			<key>pushVectorX</key>
			<real>-1</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>1.1</real>
			<key>positionY</key>
			<real>0.4</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
		<dict>
			<key>color</key>
			<string>1.0 0 0 1.0</string>
			<key>height</key>
			<real>160</real>
			<key>width</key>
			<real>160</real>
			<key>pushVectorX</key>
			<real>-1</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>1.1</real>
			<key>positionY</key>
			<real>0.6</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
		<dict>
			<key>color</key>
			<string>0 0 1.0 1.0</string>
			<key>height</key>
			<real>160</real>
			<key>width</key>
			<real>160</real>
			<key>pushVectorX</key>
			<real>-1</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>1.1</real>
			<key>positionY</key>
			<real>0.8</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
	</array>
	<key>timeout</key>
	<real>10</real>
	<key>priority</key>
	<real>6</real>
	<key>name</key>
	<string>Level 6</string>
</dict>
</plist>
