<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocks</key>
	<array>
		<dict>
			<key>color</key>
			<string>0 0 0 1.0</string>
			<key>height</key>
			<real>200</real>
			<key>width</key>
			<real>20</real>
			<key>pushVectorX</key>
			<real>0</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>0.15</real>
			<key>positionY</key>
			<real>0.1</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>90</real>
		</dict>
		<dict>
			<key>color</key>
			<string>0 0 0 1.0</string>
			<key>height</key>
			<real>40</real>
			<key>width</key>
			<real>4000</real>
			<key>pushVectorX</key>
			<real>0</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>0.5</real>
			<key>positionY</key>
			<real>0</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
		<dict>
			<key>color</key>
			<string>0 0 0 1.0</string>
			<key>height</key>
			<real>200</real>
			<key>width</key>
			<real>20</real>
			<key>pushVectorX</key>
			<real>0</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>0.15</real>
			<key>positionY</key>
			<real>0.45</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>-90</real>
		</dict>
		<dict>
			<key>color</key>
			<string>0 0 0 1.0</string>
			<key>height</key>
			<real>200</real>
			<key>width</key>
			<real>20</real>
			<key>pushVectorX</key>
			<real>0</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>0.5</real>
			<key>positionY</key>
			<real>0.1</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>-90</real>
		</dict>
		<dict>
			<key>color</key>
			<string>0 0 0 1.0</string>
			<key>height</key>
			<real>400</real>
			<key>width</key>
			<real>20</real>
			<key>pushVectorX</key>
			<real>0</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>0.6</real>
			<key>positionY</key>
			<real>0.75</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
		<dict>
			<key>color</key>
			<string>1.0 0 0 1.0</string>
			<key>height</key>
			<real>160</real>
			<key>width</key>
			<real>160</real>
			<key>pushVectorX</key>
			<real>-0.5</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>1.2</real>
			<key>positionY</key>
			<real>0.28</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
		<dict>
			<key>color</key>
			<string>1.0 0 0 1.0</string>
			<key>height</key>
			<real>160</real>
			<key>width</key>
			<real>160</real>
			<key>pushVectorX</key>
			<real>0.5</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>-0.2</real>
			<key>positionY</key>
			<real>0.65</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
		<dict>
			<key>color</key>
			<string>1.0 0 0 1.0</string>
			<key>height</key>
			<real>160</real>
			<key>width</key>
			<real>160</real>
			<key>pushVectorX</key>
			<real>0.5</real>
			<key>pushVectorY</key>
			<real>0</real>
			<key>positionX</key>
			<real>-0.2</real>
			<key>positionY</key>
			<real>0.85</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
		<dict>
			<key>color</key>
			<string>1.0 0 0 1.0</string>
			<key>height</key>
			<real>250</real>
			<key>width</key>
			<real>80</real>
			<key>pushVectorX</key>
			<real>0</real>
			<key>pushVectorY</key>
			<real>-0.5</real>
			<key>positionX</key>
			<real>0.8</real>
			<key>positionY</key>
			<real>0.87</real>
			<key>pushTime</key>
			<real>0</real>
			<key>rotation</key>
			<real>0</real>
		</dict>
	</array>
	<key>timeout</key>
	<real>25</real>
	<key>priority</key>
	<real>7</real>
	<key>name</key>
	<string>Level 7</string>
</dict>
</plist>
